# Django
DJANGO_ENV=dev
DJANGO_SECRET_KEY=dev-secret-key-123
DJANGO_DEBUG=1
ALLOWED_HOSTS=*
CHAT_USE_FAKE_COMPILE=False

# DB
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=sknproject4
POSTGRES_USER=root
POSTGRES_PASSWORD=root1234

# LLM provider 선택: openai|ollama|huggingface
LLM_PROVIDER=openai

# OpenAI
OPENAI_API_KEY=

# Huggingface
HF_API_TOKEN=

# 검색/RAG
EMBED_MODEL_NAME=intfloat/multilingual-e5-small
PGVECTOR_DISTANCE=cosine
TOP_K=2

# Lang Smith
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_PROJECT="SKN18 3Team Final Project"
LANGCHAIN_API_KEY=""

# 웹 포트 (로컬 호스트 바인딩)
WEB_PORT=8000

# 비디오, 이미지 생성

GENAI_API_VERSION=v1
MODEL_IMAGE=models/imagen-4.0-fast-generate-001   # Imagen 4 Fast - 가장 빠른 이미지 생성

이미지 비디오 생성 파이프라인 API KEY
GEMINI_API_KEY=
FAL_KEY=