# Django
DJANGO_ENV=dev
DJANGO_SECRET_KEY=dev-secret-key-123
DJANGO_DEBUG=1
ALLOWED_HOSTS=*
CHAT_USE_FAKE_COMPILE=False

# DB
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=sknproject4
POSTGRES_USER=root
POSTGRES_PASSWORD=root1234

# LLM provider 선택: openai|ollama|huggingface
LLM_PROVIDER=openai

# OpenAI
OPENAI_API_KEY=

# Huggingface
HF_API_TOKEN=

# 검색/RAG
EMBED_MODEL_NAME=intfloat/multilingual-e5-small
PGVECTOR_DISTANCE=cosine
TOP_K=2

# Lang Smith
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_PROJECT="SKN18 3Team Final Project"
LANGCHAIN_API_KEY=""

# 웹 포트 (로컬 호스트 바인딩)
WEB_PORT=8000

# Apache Jena
FUSEKI_ADMIN_PASSWORD=fuseki1234