python-dotenv==1.2.1

# rag
pandas==2.3.3
langchain-core==1.0.5
psycopg2-binary==2.9.11

# langgraph
langchain==1.0.7
langchain-community==0.4.1
langchain-openai==1.0.3
langgraph==1.0.3
langgraph-cli[inmem]==0.4.7
langsmith==0.4.46

# api requests
requests==2.32.5

# fuseki / sparql
SPARQLWrapper==2.0.0
rdflib==7.0.0

# realtime inference api
fastapi==0.115.6
uvicorn==0.34.0

# milvus vector database
pymilvus==2.2.2
sentence-transformers==2.2.2
torch>=2.0.0  # sentence-transformers 의존성
transformers>=4.30.0  # sentence-transformers 의존성