# Unity 기본
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# 유니티 Collaborate 등
[Bb]ackup/
[Cc]ache/

# 사용자 설정 (에디터 개인 설정)
UserSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# VS / Rider / 기타 IDE 설정
.vs/
.idea/
*.unityproj

# OS 별 잡파일
.DS_Store
Thumbs.db

# 기타 빌드 산출물
*.apk
*.aab
*.exe
*.app
*.ipa
*.msi
*.zip
*.unitypackage
